#inner__header .nav__ul li:nth-child(4) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(4) a::before{
    display: block;
}

#section__hero{
    background-color: var(--color-secondary);
    padding-top: calc(60px + 5%);
    h1{
        color: var(--color-accent);
    }
    h2{
        color: var(--color-white);
    }
    h2 strong{
        color: var(--color-primary-light);
        font-weight: unset;
    }
    p{
        color: var(--color-white);
        font-size: 1.4vw;
    }
}

.hide__category .card__category{
    display: none;
}

.paginacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 50px;
}

.paginacion a{
    font-size: var(--size-sm);
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}

.paginacion a.active{
    pointer-events: none;
}