#inner__header .nav__ul li:nth-child(2) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(2) a::before{
    display: block;
}

#section__hero{
    background-color: var(--color-secondary);
    padding-top: calc(60px + 5%);
    h1{
        color: var(--color-accent);
    }
    h2{
        color: var(--color-white);
    }
    h2 strong{
        color: var(--color-primary-light);
        font-weight: unset;
    }
    p{
        color: var(--color-white);
        font-size: var(--size-md);
    }
}

.hide__category .card__category{
    display: none;
}