---
eleventyComputed:
    title: "Página no encontrada"
    description: "La página a la que deseas acceder no existe, si consideras que es un error de muestra parte por favor contáctanos, estamos para ayudarte"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div data-barba="container" data-barba-namespace="error404">

    <section id="section__404" class="pad__all__5">
        <div class="column__1 flex__align__c flex__justify__c max800">
            <img class="icon__404" src="/assets/404.svg" alt="Página no encontrada" />
            <h2>Error 404</h2>
            <h1>Página no encontrada</h1>
            <span>Lo sentimos, la página que estás buscando no existe. Si consideras que se debe a un error de nuestra parte, por favor <a href="/contacto/">contáctanos</a>.</span>
            <a class="btn" href="/">Volver al inicio</a>
        </div>
    </section>

</div>