---
eleventyComputed:
    title: "{{ categoriasPosts[0].titleseo }}"
    description: "{{ categoriasPosts[0].descseo }}"
    keywords: "{{ categoriasPosts[0].keyseo }}"
layout: base.njk
pagination:
  data: collections.uniqueCategories
  size: 1
  alias: categoriaPost
permalink: "/articulos/categorias/{{ categoriaPost.slug }}/index.html"
---

<div data-barba="container" data-barba-namespace="categoria-articulo" data-css="articulos">


  <section id="section__hero" class="pad__all__5">
    <div class="column__1">
      <h1>{{ categoriaPost.title }}</h1>
    </div>
  </section>

  <section id="section__articulos" class="pad__all__5">
    <div class="column__1">
    <ul role="list" class="listado__x3 width__100 hide__category">
      {% for item in categoriaPost.post %}
        {% include "post-card.njk" %}
      {% endfor %}
    </ul>
    </div>
  </section>
  

</div>