---
layout: "base.njk"
permalink: "/contacto/{{ page.fileSlug }}/"
robots: "noindex"
---

<div data-barba="container" data-barba-namespace="gracias">

    <section id="section__gracias" class="pad__lr__5 pad__tb__10">
        <div class="column__1 max900">
            <h1>Gracias por tu mensaje</h1>
            <h2>Nos pondremos en contacto contigo muy pronto, para brindarte más información y asistencia.</h2>
            <a href="/" class="btn">Regresar al inicio</a>
        </div>
    </section>
    
</div>