---
eleventyComputed:
    title: "{{ productos[0].titleseo }}"
    description: "{{ productos[0].descseo }}"
layout: base.njk
# gsap: productos.js
pagination:
  data: collections.productos
  size: 20
  alias: item
permalink: "/productos/" # Para paginación amplia descomentar: permalink: "/productos/{{pagination.pageNumber + 1}}/"
---

<div data-barba="container" data-barba-namespace="productos" data-css="productos" data-js="productos">

  {% for item in productos %}
  <section id="section__hero" class="pad__lr__5">
      <div class="column__2">
          <div class="col__left flex__justify__c pad__right__5 width__45">            
              <h1>{{ item.heroH1 }}</h1>
              <div>{{ item.heroH2 | safe }}</div>
              <p>{{ item.heroP }}</p>
              <a class="btn btn__hero">{{ item.heroBtn }}</a>
          </div>
          <div class="col__right width__55">
              {% if item.heroImg %}
              <picture>
                  {% for format, images in item.heroImg %}
                  <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}">
                  {% endfor %}
                  <img src="{{ item.heroImg.jpeg[0].url }}" alt="{{ item.heroImgAlt }}">
              </picture>
              {% endif %}
          </div>
      </div>
  </section>
  {% endfor %}

  <section id="section__intro" class="pad__all__5">
      <div class="column__1">
          <h2>Productos</h2>
          <ul role="list" class="listado__x3 width__100">
              {%- for item in pagination.items -%}
                  {% include "producto-card.njk" %}
              {%- endfor %}
          </ul>
      </div>
  </section>


  <!-- //Usar en caso de requerir paginación:
  <nav>
      <ul>
        {% if pagination.href.previous %}
          <li><a href="{{ pagination.href.previous }}">Anterior</a></li>
        {% endif %}
        {% for pageNumber in pagination.pages %}
          <li><a href="/productos/{{ pageNumber }}">{{ pageNumber }}</a></li>
        {% endfor %}
        {% if pagination.href.next %}
          <li><a href="{{ pagination.href.next }}">Siguiente</a></li>
        {% endif %}
      </ul>
    </nav>
    -->

</div>