<li class="card card__producto">
  
    <h2>{{ item.title }}</h2>
    {% if item.mainImage %}
    <picture>
        {% for format, images in item.mainImage %}
        <source srcset="{{ images | srcset }}" sizes="(max-width: 600px) 100vw, 600px" type="image/{{ format }}">
        {% endfor %}
        <img src="{{ item.mainImage.jpeg[0].url }}" alt="{{ item.mainImageAlt }}">
    </picture>
  {% else %}
    <p>No image available</p>
  {% endif %}
    <p>{{ item.excerpt }}</p>
    <a class="btn" href="/productos/{{ item.slug.current }}">Más información</a>
  </li>