<div id="overlay">
    <div id="progstat"></div>
    <div id="progress"></div>
    <div id="progress__bg"></div>
    <div id="logoloader">
        <img src="/images/sello.svg" height="50" />
    </div>
</div>
<div class="transition__top"></div>
<div class="transition__bottom"></div>