<li class="card card__artículo">
  
    <div class="column__2">
      <div class="col__left">
        {% if item.categories %}
          <span class="card__category">
            {% for category in item.categories %}
              <a href="/articulos/categorias/{{category | slugify}}">{{ category }}{% if not loop.last %}, {% endif %}</a> /
            {% endfor %}
          </span>
        {% else %}
          <span class="card__category">Sin categoría /</span>
        {% endif %}
      </div>
      <div class="col__right flex__align__e">
        <span class="card__date">{{ item.publishedAt | date("MMMM d, yyyy") }}</span>
      </div>
    </div>
    
    <h2><a href="/articulos/{{ item.slug.current }}">{{ item.title }}</a></h2>
    
    <a class="card__pic" href="/articulos/{{ item.slug.current }}">
    {% if item.mainImage %}
      <picture>
          {% for format, images in item.mainImage %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 600px) 100vw, 600px" type="image/{{ format }}">
          {% endfor %}
          <img src="{{ item.mainImage.jpeg[0].url }}" alt="{{ item.mainImageAlt }}">
      </picture>
    {% else %}
      <p>No image available</p>
    {% endif %}
    </a>
    
    <p class="excerpt__p">{{ item.excerpt }}</p>
    <a class="btn" href="/articulos/{{ item.slug.current }}">Más información</a>
  </li>